# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build / Output
# =========================
dist/
.tmp/
webpack.statistics.prod.html
*.pbiviz

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-error.log*

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TypeScript
# =========================
*.tsbuildinfo